
label{
    font-size:13px;
    font-weight: 500;
    color: rgb(106, 106, 106);
}
input{
    border:1.5px solid rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
}
.alert,.alert-danger{
    background-color: white;
    padding:0px;
    color:rgb(218, 21, 14);
    border: none;
    font-weight: 500;
}
.ibtn {
    color: #fee;
    background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
    border: none;
    padding: 6px 20px;
    border: 0px solid #FF9900;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
}